---
import CacheImage from "./CacheImage.astro";
import Card from "./Card.astro";
import { type Props as MicroBlogProps } from "../types/micro_blog";
export type Props = MicroBlogProps

const {
  date,
  displayName,
  html,
  profileImage,
  profileUrl,
  social,
  url,
  username,
  class: className,
} = { class: '', ...Astro.props};

---
<div class={`astro-cache-embed micro-blog relative rounded-lg break-words p-4 border border-slate-500 ${className}`}>
  <a href={profileUrl} target="_blank" class="no-underline !text-inherit flex mb-5" >
    <div class="flex space-x-4">
      {
        profileImage && (
          <div>
            <CacheImage
              class="profile-image w-14 h-14 rounded-full"
              src={profileImage}
              alt="User Image"
            />
          </div>
        )
      }
      <div>
        <div class="display-name text-md">
          {displayName}
        </div>
        <div class="username">{username}</div>
      </div>
    </div>
  </a>
  <div>
    <div class="mb-5" set:html={html} />
    <slot name="supplemental"/>
    {
      social && (
        <Card
          class="mb-5"
          image={social.ogImage}
          href={social.href}
          title={social.twitterTitle}
          description={social.description}
          summary={social.twitterCard}
        />
      )
    }
  </div>
  <div class="flex">
    <div class="mr-2">
      <a href={url} class="no-underline" target="_blank">{date}</a>
    </div>
    <slot name="metadata"/>
  </div>
  <div class="absolute top-5 right-5">
    <slot name="logo" />
  </div>
</div>
