---
import CacheImage from '../components/CacheImage.astro'; 
import type { CacheFetchOptions } from '../controllers/cache_fetch';
type Props = CacheFetchOptions & {
  image: string,
  href: string,
  title: string
  description: string
  class?: string
}
const { href, image, title, description, class: classname, ...rest } = Astro.props
const domain = new URL(href).hostname.replace(/^www\./, '')
---

<a href={href} target="_blank" class=`no-underline !text-inherit ${classname}`>
  <div class="grid grid-cols-4">
    <div class="col-span-1">
      <CacheImage src={image} class="w-full h-full object-cover" {...rest}/>
    </div>
    <div class="col-span-3 p-2.5"> <!-- 10px padding -->
      <div class="mb-2.5">
        {title && (
          <div>{domain}</div>
          <div>{title}</div>  
        )}
        {!title && (
          <div>{domain}</div>
        )}
      </div>
      <p class="text-sm">
        {description}
      </p>
    </div>
  </div>
</a>
