---
import CacheImage from '../components/CacheImage.astro';
import type { CacheFetchOptions } from '../controllers/cache_fetch';
type Props = CacheFetchOptions & {
  href: string
  image: string
  title: string
  description: string
  class?: string
}
const { href, image, title, description, class: classname, ...rest } = Astro.props

const domain = new URL(href).hostname.replace(/^www\./, '')
---
<a href={href} target="_blank" class=`no-underline !text-inherit overflow-hidden block ${classname}`>
  {image && <CacheImage src={image} class="w-full" {...rest}/>}
  <div class="p-2.5 flex flex-col">
    <div class="mb-2.5">
      {title && (
        <div>{domain}</div>
        <div>{title}</div>  
      )}
      {!title && (
        <div>{domain}</div>
      )}
    </div>
    <p class="text-sm">
      {description}
    </p>
  </div>
</a>